<p id="notice"><%= notice %></p>
<%= render partial:'reservation', locals: { reservation: @reservation } %>
<!-- <p>
  <strong>Customer:</strong>
  <%= @reservation.customer %>
</p>

<p>
  <strong>Info:</strong>
  <%= @reservation.info %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @reservation.restaurant %>
</p>

<p>
  <strong>Table:</strong>
  <%= @reservation.table %>
</p>

<%= link_to 'Edit', edit_restaurant_reservation_path(@reservation.restaurant) %> |
<%= link_to 'Back', restaurant_reservations_path %>
 -->
