<p id="notice"><%= notice %></p>
<%= render partial:'table', locals: { table: @table } %>
<!-- <p>
  <strong>Seats:</strong>
  <%= @table.seats %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @table.restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @table.description %>
</p>

<%= link_to 'Edit', edit_restaurant_table_path(@table) %> |
<%= link_to 'Back', restaurant_tables_path %> -->
